<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <% include include/head.ejs %>
  <body>
    <% include include/navbar.ejs %>
    <div class="container">
      <center><img src="img/noticia.png" alt="NoticiaLogo" height="50%" width="50%"></center>

      <div class="noticia">
        <a href="#">
          <h3 class="noticia-textos">Titulo da noticia</h3>
        </a>
        <p class="noticia-textos">Autor: Matheus</p>
        <h6 class="noticia-textos">Mussum Ipsum, cacilds vidis litro abertis.
           Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
           A ordem dos tratores não altera o pão duris. Não sou faixa preta cumpadi,
           sou preto inteiris, inteiris. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</h6>
      </div>

      <div class="noticia">
        <h3 class="noticia-textos">Titulo da noticia</h3>
        <p class="noticia-textos">Autor: Matheus</p>
        <h6 class="noticia-textos">Mussum Ipsum, cacilds vidis litro abertis.
           Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
           A ordem dos tratores não altera o pão duris. Não sou faixa preta cumpadi,
           sou preto inteiris, inteiris. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</h6>
      </div>

      <div class="noticia">
        <h3 class="noticia-textos">Titulo da noticia</h3>
        <p class="noticia-textos">Autor: Matheus</p>
        <h6 class="noticia-textos">Mussum Ipsum, cacilds vidis litro abertis.
           Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
           A ordem dos tratores não altera o pão duris. Não sou faixa preta cumpadi,
           sou preto inteiris, inteiris. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</h6>
      </div>

      <div class="noticia">
        <h3 class="noticia-textos">Titulo da noticia</h3>
        <p class="noticia-textos">Autor: Matheus</p>
        <h6 class="noticia-textos">Mussum Ipsum, cacilds vidis litro abertis.
           Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
           A ordem dos tratores não altera o pão duris. Não sou faixa preta cumpadi,
           sou preto inteiris, inteiris. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</h6>
      </div>
      
    </div>
  </body>
</html>
