<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <% include include/head %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <title><%= headTitle %></title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <% include include/navbar %>
    <div class="container">
      <% if(noticia) {%>
          <%-noticia.noticia%>
      <%}%>
      <div class="form-group">
        <label for="" class="text-light">Comentario:</label>
        <input type="text" class="form-control" id="comentario"></input>
        <button type="button" name="button" class="btn btn-primary" id="comentario-noticia">Comentar</button>
      </div>
      <div class="col-md-12" id="comentarios">

      </div>
    </div>
    <script type="text/javascript">
    function loading() {
      var loadingGif = "<div class='col-md-4' style='width:50%;margin:0 auto;'>"
        loadingGif += "<img src='/img/loading-gif.gif'></img>";
      loadingGif += "</div>";
      $("#comentarios").html(loadingGif);
    }
    function getQueryString() {
      var urlParams = new URLSearchParams(window.location.search);
      var parametros = urlParams.toString().split("=")
      return parametros[1];
    }

    function postComentario() {
      loading();
      return new Promise((resolve,reject)=>{
        $.ajax({
          method:"POST",
          url:"/noticia/comentario",
          data:{comentario:$("#comentario").val(),noticia:getQueryString()}
        })
        .done(function (retorno) {
          resolve(retorno)
        })
      })
    }
    function getAllComents(){
      return new Promise((resolve,reject)=>{
        $.ajax({
          method: "GET",
          url: "/noticia/comentario?noticia="+getQueryString()
        })
        .done(function (findAll) {
          resolve(findAll)
        })
      })
    }
    function makeComentarios(findAll) {
      var comentario = '';
      console.log(findAll);
      for (var i = 0; i < findAll.length; i++) {
        comentario += "<div class='col-md-12'>";
          comentario += "<div class='row'>";
            comentario += "<div class='col-md-2'>";
              comentario += "<a href='/profile/"+findAll[i].usuario.id_usuario+"'><img src='/"+findAll[i].usuario.fotoUsuario+"' style='border-radius:50%;padding-bottom:10px' alt='' width='100px'></img></a>"
            comentario += "</div>"
            comentario += "<div class='col-md-10'>";
              comentario += "<p class='text-light' style='margin-bottom:0'>"+findAll[i].usuario.username+"   "+findAll[i].dataComentario+"</p>"
              comentario += "<p class='text-light' style='margin-bottom:0;word-break: break-all;'>"+findAll[i].comentario+"</p>"
            comentario += "</div>"
          comentario += "</div>"
        comentario += "</div>";
      }
      $("#comentarios").html(comentario);
    }
      $(document).ready(function () {
        loading();
        getAllComents().then(function (findAll) {
          makeComentarios(findAll);
        });
        $("#comentario-noticia").click(function () {
          postComentario().then(function (inserted) {
            getAllComents().then(function (findAll) {
              makeComentarios(findAll);
            })
          });
        })
      })
    </script>
  </body>
</html>
