<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <% include include/head %>
    <title>Verificar E-mail</title>
  </head>
  <body>
    <% include include/navbar %>
    <div class="container">
      <div class="text-light">
          <h1>Erro</h1>
          <h4>Perfil não encontrado</h4>
      </div>
    </div>
  </body>
</html>
