<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include include/head %>
  </head>
  <body>
    <% include include/navbar %>
    <div class="container">
      <%if(findById.length > 0){%>
        <div class="col-md-12">
          <h2 class="text-white">Titulo: <%=findById[0].titulo%></h2>
          <div style="word-break: break-all;" class="col-md-12">
            <%-findById[0].noticia%>
          </div>
        </div>
        <button type="button" name="button" class="btn btn-primary" id="sim">Qualificar usuario para ser autor</button>
        <button type="button" name="button" class="btn btn-danger" id="nao">Usuario desqualificado</button>

        <script type="text/javascript">
        function validarAutor(aprovado) {
          $.ajax({
            method:"POST",
            url:"/validarAutor/<%=findById[0]._id%>/<%=findById[0].usuario.id_usuario%>",
            data:{aprovado:aprovado}
          }).done(function (retorno) {
            window.location.href = '/validarAutor';
          })
        }
        $(document).ready(function () {
          $('button').click(function () {
            var aprovado = false;
            if ($(this).attr('id') == 'sim') {
              aprovado = true;
            }
            validarAutor(aprovado);
          })
        })
        </script>
      <%}else{%>
        <h1 class="text-white">Página não encontrada</h1>
      <%}%>
    </div>
  </body>
</html>
