<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include include/head %>
  </head>
  <body>
    <% include include/navbar %>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1" style="margin-right: 50px;">
            <img src="http://localhost:5000/jogadores/Nalfu/Nalfu-1539198554405.jpeg" class="rounded float-left" width="100px">
          </div>
          <div class="col-md-10">
            <h3 class="noticia-textos">Titulo: Eu quero ser um autor</h3>
            <p class="text-light">De: Nalfu</p>
          </div>
        </div>
        <!-- <a href="#">
          <img src="http://www.guj.com.br/uploads/Guj-logo-2.png" class="rounded float-left" alt="..." width="100px">
          <h3 class="noticia-textos">Titulo: Eu quero ser um autor</h3>
          <p class="text-light">De: Nalfu</p>
        </a> -->
      </div>
    </div>
  </body>
</html>
