body{
  background-color: #222;
}
.whiteColor{
  color:#fff
}
.navbar-brand{
  padding: 0px;
}

.fr-toolbar{
  border-top: 0;
}

.noticia{
  width: 40%;
  float: left;
  margin-right: 10%;
  margin-bottom: 5%;
}

h3.noticia-textos{
  color:#3498DB;
}
p.noticia-textos{
  color:#fff;
}
h6.noticia-textos{
  color:#c1bfbf;
}
/*Login*/
.body{
  margin-top: -5%;
}
.dentro{
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.baixo{
  display: inline-block;
}

.meio{
  color: #fff;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  vertical-align: middle;
  display: flex;
}

.frescurinha{
  border: 1px solid #6a6c70;
  border-radius: 2%;
}

.form-itens{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.login-register{
  margin-bottom: 5%;
}

.forgotPassword{
  color: #fff;
}
.forgotPassword:hover{
  color: #fff;
}

.login-register{
  width: 100%;
}

.loginEsquerdo{
  text-align: center;
  /* margin-left: 9%;
  margin-right: 5%; */
  width: 50%;
  float: left;
}

.bordaLogin{
  border-bottom: 1px solid green;
  border-bottom-width: thin;
}

.noFrescura{
  color: white;
}
.noFrescura:hover{
  color: orange;
  text-decoration: none;
}

.bordaMeio{
  width: 1px;
  margin-top: -1.98%;
  border: 1px solid white;
}

.registrarDireito{
  text-align: center;
  /* margin-left: 13%;
  margin-right: 2%;
  margin-bottom: 5%; */
  width: 50%;
  float: left;
}

.meioLoginRegister{
  color: #fff;
}


.imgLogoNoticia{
  width: 40%;
  height: 40%;
}

@media(max-width:767px){
  .imgLogoNoticia{
    width: 100%;
    height: 100%;
  }
}
@media(min-width:768px) and (max-width:1125px){
  .col-md-4{
    min-width: 70%;
  }
  .imgLogoNoticia{
    width: 70%;
    height: 70%;
  }
  }
}
